<div id="Footer">
    <div id="FooterWhiteBlur"></div>

    <img id="FooterImage" src="assets/images/Footer.jpg" alt="Footer Image">
    
    <div id="FooterText">
        <div id="AdImage">
            <img src="assets/images/AdImage.jpg" alt="Ad Image">
            <p>Did you like the background pictures ? <br> That's from me as well, contact me if interested</p>
        </div>

        <div id="MiddleText">
            <p>Syméon De Almeida</p>
            <div id="Contact">
                <p>symeon.dealmeida&#64;gmail.com</p>
                <p>O4 66 18 68 90</p>
            </div>
        </div>

        <div id="Socials">
            <img src="assets/images/logo_github.png" alt="Github">
            <img src="assets/images/logo_linkedin.png" alt="Linkedin">
            <img src="assets/images/logo_instagram.png" alt="Instagram">
        </div>
    </div>
</div>
