<div id="Footer">
    <div id="FooterWhiteBlur"></div>

    <!-- <img id="FooterImage" src="assets/images/Footer.jpg" alt="Footer Image"> -->
    
    <div id="FooterText">
        <div id="AdImage">
            <img src="assets/images/PersoImage.jpg" alt="Ad Image">
            <p>Did you like the background pictures ? <br> That's from me as well, contact me if interested</p>
        </div>

        <div id="MiddleText">
            <p>Syméon De Almeida</p>
            <div id="Contact">
                <p>symeon.dealmeida&#64;gmail.com</p>
                <p>+61 04 66 18 68 90</p>
            </div>
        </div>

        <div id="Socials">
            <a href="https://github.com/SymeonD" target="_blank"><img src="assets/images/logos/logo_github.png" alt="Github"></a>
            <a href="https://www.linkedin.com/in/syméon-de-almeida-b0350923a/" target="_blank"><img src="assets/images/logos/logo_linkedin.png" alt="Linkedin"></a>
            <a href="https://www.instagram.com/symeondealmeida/" target="_blank"><img src="assets/images/logos/logo_instagram.png" alt="Instagram"></a>
        </div>
    </div>
</div>
