.IUTSlider.Classproject{
    background-image: url("../../assets/images/class_project.png");
}

.IUTSlider.Graduationproject{
    background-image: url("../../assets/images/graduation_project.png");
}

.IUTSlider.Bdeproject{
    background-image: url("../../assets/images/bde_project.png");
}

#IUTContainer{
    display: flex;
    justify-content: center;
    width: 100%;

    /* Add shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#IUT{
    width: 100%;
    max-width: var(--body-max-width);
    display: flex;
    margin: auto;
    flex-direction: row;
    overflow-y: clip;
    overflow-x: clip;
    justify-content: space-between;
}

#IUT .subTitle{
    display: flex;
    flex-direction: column;

    margin-top: 10%;
    margin-left: 10%;
}

.IUTSliderContainer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    width: 100%;
    max-width: 1000px;

    margin: 50px 10%;
}

.IUTSlider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    transition: all 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
}

.IUTTitle{
    color: var(--quinary-color);
    text-align: center;
}

.IUTText{
    text-align: justify;
}

@media (min-width: 901px){    
    .IUTSliderContainer{
        min-height: 565px;
    }

    .IUTSlider:hover{
        width: 50%;
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }
    
    .IUTSlider:hover .IUTText{
        opacity: 100%;
        font-size: 1em;
    }
    
    .IUTSlider.focused{
        width: 50%;
        background-color: rgba(0,0,0,0.1);
    }
    
    .IUTSlider.focused .IUTText{
        opacity: 100%;
        font-size: 1em;
    }
    
    .IUTText{
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        padding: 20px;
        height: 100%;
        opacity: 0%;
        font-size: 0.1em;
        transition: all 0.5s ease-in-out;
    }
}

/* For mobile version */
@media (max-width: 900px){
    #IUT{
        flex-direction: column;
    }

    #IUT .subTitle{
        display: flex;
        flex-direction: column;
    
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom: 5%;
    }

    .IUTSliderContainer{
        flex-direction: column;
        height: fit-content;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
    }

    .IUTSlider, .IUTSlider:hover{
        width: 95%;
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
    }

    .IUTSlider:first-of-type{
        border-radius: 10px 10px 0px 0px;
    }

    .IUTSlider:last-of-type{
        border-radius: 0px 0px 10px 10px;
    }

    .IUTSlider.focused{
        width: 95%;
        background-color: rgba(0,0,0,0.1);
    }

    .IUTText{
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        max-height: 0;
        opacity: 0%;
        padding: 0%;
        transition: all 0.5s ease-in-out;
        border-radius: 0 0 10px 10px;
    }

    .IUTSlider:first-of-type .IUTText{
        border-radius: 10px;
    }

    .IUTSlider.focused .IUTText{
        opacity: 100%;
        font-size: 1em;
        max-height: 1000px;
        padding: 5%;
    }
}