<div id="IUTContainer">
  <div id="IUT">
    <div class="subTitle">
      <h2>IUT2 Grenoble</h2>
      <h3>Year 2020-2022 <br> DUT Informatique - 11e de promotion</h3>
    </div>
    <!-- Add the sliders -->
    <div class="IUTSliderContainer">
      <div class="IUTSlider Classproject">
        <div class="IUTText">
          During my two years of studies in IT, I worked on multiple personal and class projects.<br>
          BistrotUGA was a project created with .NET. It was a simple website working with a database to display food and beverage of a restaurant.<br>
          ChildPlay was a project created with Kotlin. It was an android application to help children learn basic math while playing. The goal was to use different android modules and inputs to gain an overview of the possibilities.<br>
          Where’s Wolf was a project created with PyGame. It was developed during a university game jam. It was a 2d top down game of village management where you had to feed villagers the day and save them from werewolf at night. <br>
          Once the village was safe you would leave for the boss hide and defeat the werewolf king.
        </div>
        <h3 class="IUTTitle">Class projects</h3>
      </div>
      <div class="IUTSlider Graduationproject">
        <div class="IUTText">
          For the last term of my study in France I worked with a team on a project with a client working in architecture. They needed a way to organise and share project files with clients and providers.<br>
          After the first meetings we decided to go with a website coupled to a database and API.<br>
          The front-end was developed using JavaScript and threeJS and back-end used PostgreSQL and NodeJS; the whole projet used Docker containers to facilitate deployment.<br>
          As project leader I was responsible for client relationship and project management. On top of these I worked on the front-end for the main page and the database creation. <br>
          At the end of the 3 months of the project we deployed the solution to the client with the features: user management, file upload and download, 3D viewer and PDF annotation.<br>
        </div>
        <h3 class="IUTTitle">Graduation project</h3>
      </div>
      <div class="IUTSlider Bdeproject">
        <div class="IUTText">
          During my studies I was secretary of the student association and responsible for scheduling and preparing activities. One of the demand from the student was a minecraft server, with custom and special functions such as money system and land claim.<br>
          Having worked on minecraft plugin in the past, I created the Java plugin for the server. It featured a fully working money system based on a created currency, with multiplayer open market to send and buy items. The plugin in its first version also had a land claiming system to secure a house or farm.<br>
          After some time the students wanted more on the server and the second version of the plugin featured an additional guild system. A guild was composed of a master, generals and recruits. A guild had a private market and shared land claims and secured chests accessible using passwords.        
        </div>
        <h3 class="IUTTitle">BDE project</h3>
      </div>
    </div>
  </div>
</div>