#SCUContainer{
    width: 100%;
    display: flex;
    justify-content: center;

    /* Add shadow */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#SCU{
    width: 100%;
    max-width: var(--body-max-width);
    display: flex;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
}

#SCUBody{
    margin: 10% 0 10% 10%;
}

#SCUImage{
    align-self: end;
    padding: 10% 0;
}

/* For mobile version */
@media (max-width: 900px){
    #SCU{
        flex-direction: column;
        max-height: fit-content;
    }

    #SCUImage{
        align-self: center;
        padding: 10% 0 0;
        width: 100%;
    }

    #SCUBody{
        margin: 10%;
    }
}