<div id="SCUContainer">
  <div id="SCU">
      <div id="SCUBody">
        <div class="subTitle">
          <h2>Southern Cross university</h2>
          <h3>Year 2023-2024 <br> Bachelor in information technology</h3>
        </div>
        <div>
          <p>
            As a final year project, I worked with my team on a membership website for a french non-profit organisation, L’Incongrue. <br>
            During the 12 weeks of its realisation, I was appointed as project head and was supervising the team as well as communicate with the client on top of my development tasks. <br>
            The demand was to use WordPress, as their main website used it and create a coupled database to store the users informations. <br>
            In order to create dynamic pages, given the time and budget allowed, we decided to create an external plugin based on already existing ones. <br>
            I was the main contributor on the plugin and created shortcodes to be used in WordPress. These shortcodes were diverse and while some were just filling tables, others created full pages with graphs and complex SQL queries. <br>
            This project allowed me to refine my time management skills and greatly broaden my PHP knowledge.
          </p>
        </div>
      </div>
      <img id="SCUImage" src="assets/images/SCU.png" alt="SCU Image">
  </div>  
</div>