<div id="Projects">
    <!-- <div id="ProjectsTopWhiteBlur"></div> -->
  
    <!-- <img id="ProjectsImage" src="assets/images/PersonnalProjects-low.png" alt="Countact Image"> -->
  
    <div id="ProjectsBody">
      <div class="subTitle">
        <h2>Personal projects</h2>
        <h3>Starting during my first years at university</h3>
        <div class="subTitletext">
          <p>
            These are some projects on which I worked over the years, as a freelance developer or student. <br>
            Most of these projects are available online or the source code on <a href="https://github.com/SymeonD">GitHub</a>. <br>
            This website is a part of these projects.
          </p>
        </div>
      </div>

      <div id="SliderContainer">
        <!-- Add the sliders -->
        <div class="ProjectsSlider">
          
          <div id="Itemscontainer">
            <!-- Notion -->
            <div class="CarousselPage">
              <a routerLink="/notion-auto" routerLinkActive="active" ariaCurrentWhenActive="page">
                <div class="ProjectsSliderItem">
                  <div class="SliderItemImage">
                    <img src="/assets/images/Notion_Automation.png">
                    <div class="SliderImageTitle">
                      2023
                    </div>
                  </div>
                  <div class="SliderItemTitle">
                    Notion Automation
                  </div>
                </div>
              </a>
        
              <!-- Incongrue App -->
              <div class="ProjectsSliderItem">
                <div class="SliderItemImage">
                  <img src="/assets/images/Incongrue_App.png">
                  <div class="SliderImageTitle">
                    2023
                  </div>
                </div>
                <div class="SliderItemTitle">
                  Incongrue App
                </div>
              </div>
        
              <!-- TripPics -->
              <div class="ProjectsSliderItem">
                <div class="SliderItemImage">
                  <img src="/assets/images/TripPics.png">
                  <div class="SliderImageTitle">
                    2022
                  </div>
                </div>
                <div class="SliderItemTitle">
                  TripPics
                </div>
              </div>
            </div>

            <div class="CarousselPage">
              <!-- TripPics -->
              <div class="ProjectsSliderItem">
                <div class="SliderItemImage">
                  <img src="/assets/images/TripPics.png">
                  <div class="SliderImageTitle">
                    2024
                  </div>
                </div>
                <div class="SliderItemTitle">
                  TripPics2
                </div>
              </div>
            </div>
          </div>
    
        </div>
      </div>
    </div>
    
    <!-- <div id="ProjectsBottomWhiteBlur"></div> -->
  </div>