#Projects{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
    align-items: center;

    background-image: url("../../assets/images/Low-Opacity/PersonnalProjects-low.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#Projects .subTitle{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    overflow-y: clip;
    overflow-x: clip;
}

#ProjectsTopWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(-50%);
}

#ProjectsBottomWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(50%);
}

#ProjectsBody{
    width: 100%;
    max-width: var(--body-max-width);
    height: 100%;
    display: flex;
    justify-content: center;
}

.SliderItemImage{
    display: flex;
    flex-direction: column;
    position: relative;
}

.SliderItemImage > img{
    align-self: center;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 20%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.SliderImageTitle{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 40px;
    background-color: rgb(135, 184, 140);
    align-self: flex-end;

    position: absolute;
    bottom: 0;
    right: 10px;
}

.SliderItemTitle{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    width: fit-content;
    align-self: center;
    margin-top: 5px;
}

#SliderContainer{
    padding: 20px;
}

.ProjectsSlider{
    display: flex;

    background-color: aliceblue;
    position: relative;
    width: 450px;
    height: 390px;
}

.ProjectsSliderItem{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;

    position: absolute;
}
