#Menu{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    width: fit-content;
    max-width: 50%;
    justify-content: space-between;
    float: right;
    padding: 2% 3%;
}

ul{
    padding: 0px;
    color: black;
    font-size: 1.3em;
    width: fit-content;
    margin: 0px 15px;
}