<div id="WorkWithMeBackground">
    <div id="WorkWithMe">
      <div class="subTitle">
        <h2>Work with me</h2>
      </div>
      <div id="WWMText">
        <div id="WhatICanDo">
          <div>
            <h3>What I can do</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
          </div>
          <div id="WhatICanDoTechno">
            <img src="../assets/images/logos/logo_html.png">
            <img src="../assets/images/logos/logo_css.png">
            <img src="../assets/images/logos/logo_javascript.png">
            <img src="../assets/images/logos/logo_angular.png">
            <img src="../assets/images/logos/logo_php.png">
            <img src="../assets/images/logos/logo_react.png">
            <img src="../assets/images/logos/logo_c.png">
            <img src="../assets/images/logos/logo_django.png">
            <img src="../assets/images/logos/logo_python.png">
            <img src="../assets/images/logos/logo_postgresql.png">
            <img src="../assets/images/logos/logo_docker.png">
            <img src="../assets/images/logos/logo_aws.png">
            <img src="../assets/images/logos/logo_notion.png">
            <img src="../assets/images/logos/logo_kotlin.png">
            <img src="../assets/images/logos/logo_n8n.png">
            <img src="../assets/images/logos/logo_java.png">
          </div>
        </div>
        <form id="ContactMe">
          <h3>Contact me</h3>
          <input type="text" placeholder="Name" name="name" required>
          <input type="text" placeholder="Email" name="email" required>
          <textarea placeholder="Message" class="FreeText" name="message" required></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
