<div id="WorkWithMeBackground">
    <div id="WorkWithMe">
      <div class="subTitle">
        <h2>Work with me</h2>
      </div>
      <div id="WWMText">
        <div id="WhatICanDo">
          <div>
            <h3>What I can do</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
          </div>
          <div id="WhatICanDoTechno">
            <img src="../assets/images/logos/logo_html.png">
            <img src="../assets/images/logos/logo_css.png">
            <img src="../assets/images/logos/logo_javascript.png">
            <img src="../assets/images/logos/logo_angular.png">
            <img src="../assets/images/logos/logo_php.png">
            <img src="../assets/images/logos/logo_react.png">
            <img src="../assets/images/logos/logo_c.png">
            <img src="../assets/images/logos/logo_django.png">
            <img src="../assets/images/logos/logo_python.png">
            <img src="../assets/images/logos/logo_postgresql.png">
            <img src="../assets/images/logos/logo_docker.png">
            <img src="../assets/images/logos/logo_aws.png">
            <img src="../assets/images/logos/logo_notion.png">
            <img src="../assets/images/logos/logo_kotlin.png">
            <img src="../assets/images/logos/logo_n8n.png">
            <img src="../assets/images/logos/logo_java.png">
          </div>
        </div>
        <form id="ContactMe" [formGroup]="contactFormgroup">
          <h3>Contact me</h3>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [formControl]="name" required>
            <mat-error *ngIf="contactFormgroup.get('name')?.hasError">
              Please enter a name of at least 3 characters
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput [formControl]="email" required>
            <mat-error *ngIf="contactFormgroup.get('email')?.hasError">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Message</mat-label>
            <textarea matInput [formControl]="message" class="FreeText" required></textarea>
            <mat-error *ngIf="contactFormgroup.get('message')?.hasError">
              Please enter a message of at least 10 characters
            </mat-error>
          </mat-form-field>
          <div id="BottomForm">
            <button mat-flat-button color="primary" (click)="sendContact()">Send</button>
            <mat-label *ngIf="!contactSent">Thank you for your message, I will be contacting you soon !</mat-label>
          </div>
        </form>
      </div>
    </div>
  </div>
