#WorkWithMeBackground{
    width: 100%;
    display: flex;
    justify-content: center;

    /* Add shadow */
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

#WorkWithMe{
    width: 80%;
    max-width: var(--body-max-width);
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
}

#WorkWithMe .subTitle{
    display: flex;
    justify-content: center;
    align-content: center;
}

#WWMText{
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

#WhatICanDo, #ContactMe{
    width: 50%;
    padding: 5%;
}

#WhatICanDoTechno img{
    max-width: 10%;
    max-height: 10%;
    padding: 0 1%;

    /* For hover */
    transition: all 0.5s;
}

#WhatICanDoTechno img:hover{
    transform: scale(1.2);
}

#ContactMe{
    display: flex;
    flex-direction: column;
}

#ContactMe input, #ContactMe textarea{
    max-width: 100%;
    /* margin: 3% 0;
    padding: 1%; */
}

#ContactMe .FreeText{
    padding: 1% 1% 10% 1%;
}

#BottomForm{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#BottomForm button{
    border: none;
    width: 20%;

    /* For hover */
    transition: all 0.5s;
}

#BottomForm button:hover{
    /* background-color: var(--secondary-color);
    color: var(--primary-color); */
    cursor: pointer;
    /* scale: 1.1; */
    box-shadow: 0 0 10px 0 rgba(28, 47, 75, 0.5);
}

#BottomForm mat-label{
    width: 80%;
}

mat-error{
    font-size: 0.8em;
}

/* For mobile version */
@media (max-width: 900px){

    #WorkWithMe{
        width: 100%;
        margin-top: 10%;
    }

    #WWMText{
        flex-direction: column;
    }

    #WhatICanDo, #ContactMe{
        width: 100%;
        box-sizing: border-box;
    }

    #WhatICanDoTechno img{
        max-width: 10%;
        max-height: 10%;
    }

    #ContactMe input, #ContactMe textarea{
        max-width: 100%;
    }

    #BottomForm{
        flex-direction: column;
    }

    #BottomForm button{
        width: 100%;
    }

    #BottomForm mat-label{
        width: 100%;
    }
}