#HighSchool{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;

    background-image: url("../../assets/images/Low-Opacity/HighSchool-low.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#HighSchool .subTitle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;

    height: 100%;
    margin-left: 10%;
    margin-top: 10%;
}

@media (min-width: 901px){
    #HighSchoolText{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 100%;
        max-width: var(--body-max-width);
        align-self: center;
    }
    
    #HighSchoolSliders{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: fit-content;
        width: 100%;
        margin: 50px 10%;
    }
    
    .HSContainer{
        height: 255px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: end;
    
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
    }
    
    .HSContainer > div{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
    }
    
    #HSISN, #HSMinecraft, #HSKart{
        position: absolute;
        width: auto;
        cursor: move;
    }
    
    #HighSchoolSliders .HSTitle{
        margin: 0%;
        padding: 0%;
    }
    
    .HSText{
        /* height: 200px; */
        overflow: clip;
        display: none;
    }
    
    .HSContainer .HSText{
        padding: 0 1%;
    }
    
    .HSText p, .HSText h4{
        margin: 0;
    }
}

/* For mobile version */
@media (max-width: 900px){
    .HighSchoolSliders{
        margin-bottom: 50px;
    }

    .HSTitleContainer{
        width: 100%;
        position: relative;
    }

    .HSTitleContainer > img{
        width: 20%;
        float: right;
        margin: 10px 0 10px 10px;
    }

    .HSElement{
        margin: 5% 10%;
        backdrop-filter: blur(10px);
        border-radius: 10px;
        padding: 1px 10px;
        height: fit-content;

        box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.2);
    }

    .HSElement > div{
        height: fit-content;
    }

    .HSTitle{
        margin: 0;
        padding: 5px 0;
        width: 80%;
    }

    .HSText > h4{
        width: 80%;
        margin-top: 0;
    }

    .HSText{
        display: block;
    }
}