<div id="HighSchool">
    <!-- <div id="HighSchoolTopWhiteBlur"></div> -->
    
    <!-- <img id="HighSchoolImage" src="assets/images/HighSchool-low.png" alt="High School Image"> -->
      
    <div id="HighSchoolText">
      <div class="subTitle">
        <h2>Lycée Pablo Neruda</h2>
        <h3>Year 2017-2020 <br> Baccalauréat scientifique - Mention très bien</h3>
      </div>
  
      <div id="HighSchoolSliders" (window:resize)="onResize($event)">
        <div class="HSContainer">
          <div id="HSISN" class="HSElement">
            <div class="HSTitleContainer">
              <img src="/assets/images/logo_ISN.png">
              <h3 class="HSTitle">ISN</h3>
            </div>
            <div class="HSText" >
              <h4>Informatique et Sciences du Numerique (computer science)</h4>
              <p>During my first year in high school I started having coding classes. I had a few small projects about games, rock paper scissors and tic tac toe. <br>
                I enjoyed working with Java on personal projects and started researching object oriented programming. <br>
                I created my first website as a side personal project. It listed YouTube videos that my brother made and was a simple way for my extended family that didn’t understand YouTube very well to access his videos and watch them.</p>
            </div>
          </div>
        </div>
        
        <div class="HSContainer">
          <div id="HSKart" class="HSElement">
            <div class="HSTitleContainer">
              <img src="/assets/images/logo_kart.png">
              <h3 class="HSTitle">Kart</h3>
            </div>
            <div class="HSText" >
              <h4>End of studies project</h4>
              <p>My end of studies project was the construction of a kart directed by head movements.<br>
                Using these informations, the Arduino would send instructions to the motors moving the kart. <br>
                To test the code I started by logging values, but as it was not visual enough I linked the code to a Unity project and simulated the kart. Using this allowed me to have a visual of the sensors input and more accurately tune the code.</p>
            </div>
          </div>
        </div>
  
        <div class="HSContainer">
          <div id="HSMinecraft" class="HSElement">
            <div class="HSTitleContainer">
              <img src="/assets/images/logo_minecraft.png">
              <h3 class="HSTitle">Minecraft</h3>
            </div>
            <div class="HSText" >
              <h4>Student council server</h4>
              <p>After starting Java I wanted to apply my skills and as I was already playing Minecraft I decided to try and create plugins for personal servers. <br>
                I created a lot of different plugins while learning, from basic interactions with the game to adding new monsters and modifying their behaviours.<br>
                I really enjoyed creating for a game I played and spent a lot of time sharpening my skills.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  
    <!-- <div id="HighSchoolBottomWhiteBlur"></div> -->
  </div>
