/* Hero */

#Hero{
    width: 100vw;
    height: 100vh;
    max-width:100%;
    overflow-y: clip;
    overflow-x: clip;
}

#HeroImage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
    position: absolute;
}

#HeroText{
    position: absolute;
    font-size: 2em;
    max-width: 50%;
    left: 5%;
    top: 20%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

#HeroWhiteBlur{
    width: 150%;
    height: 50%;
    transform: translateX(-10%) translateY(185%);
    background-color: white;
    filter: blur(30px);
    background-size: cover;
}

/* Resume */

#Resume{
    width: 70%;
    background-color: white;
    border-radius: 15px;
    transform: translateY(-25px);
    margin: auto;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    cursor: pointer;
}

#ResumeText{
    width: 30%;
    max-height: 100%;
    padding: 2% 4%;
    font-family: 'Roboto', sans-serif;
}

#ResumeImage{
    width: 70%;
    max-height: 30vh;
    padding: 2%;
    transition: all 1s ease-in-out;
}

#ResumeImage.expand, #Resume.expand{
    max-height: 200vh;
}

#ResumeImage img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

/* Work with me */

#WorkWithMe{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

#WorkWithMe .subTitle{
    display: flex;
    justify-content: center;
    align-content: center;
}

#WWMText{
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

#WhatICanDo, #ContactMe{
    width: 50%;
    padding: 5%;
}

#WhatICanDoTechno img{
    max-width: 10%;
    max-height: 10%;
    padding: 0 1%;
}

#ContactMe{
    display: flex;
    flex-direction: column;
}

#ContactMe input, #ContactMe textarea{
    max-width: 100%;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.3);
    margin: 3% 0;
    padding: 1%;
}

#ContactMe .FreeText{
    padding: 1% 1% 10% 1%;
}

#ContactMe button{
    background-color: rgba(0,0,0,0);
    border: none;
    align-self: end;
}

/* Transition */

#Transition{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#TransitionText{
    max-width: 50%;
    margin-left: 10%;
}

/* High School */

#HighSchool{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
}

#HighSchoolImage{
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#HighSchoolTopWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: red;
    filter: blur(30px);
    background-size: cover;
    transform: translateX(-10%) translateY(-80%);
}

#HighSchoolBottomWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: green;
    filter: blur(30px);
    background-size: cover;
    transform: translateX(-10%) translateY(110%);
}

#HighSchoolText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5%;
    align-content: center;
    height: 100%;
    width: 80%;
    align-self: center;
}

#HighSchool .subTitle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;

    height: 100%;
    margin-top: 10%;
    margin-right: 5%;
}

#HighSchoolSliders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 84vh;
    width: 100%;
}

.HSContainer{
    height: 28vh;
    width: auto;
    display: flex;
    flex-direction: row;
}

.HSContainer > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#HSISN{
    position: absolute;
    width: auto;
}

#HSKart{
    justify-content: end;
}

#HighSchoolSliders .HSTitle{
    margin: 0%;
    padding: 0%;
}