<app-menu></app-menu>

<div id="Hero">
  <!-- <img id="HeroImage" src="assets/images/Hero.jpg" alt="Hero Image"> -->
  <div id="HeroText">
    <h1>HI, I'M <span id="HeroName">SYMEON</span></h1>
    <h3>READY TO WORK ON YOUR <span id="Typewriter"></span></h3>
  </div>
  <!-- <div id="HeroWhiteBlur"></div> -->
</div>

<div id="Resumebackground">
  <div id="Resume" >
    <div id="ResumeText">
      <h3>Here is my resume</h3>
      <p>If you want your visit to be quick and know already why you should choose me</p>
    </div>
    <div id="ResumeImage">
      <a data-fancybox id="ResumeLightbox" class="iframe" href="../assets/pdf/Resume Symeon.pdf"><img id="ResumeClickable" src="assets/images/ResumeImage.png" alt="Resume Image"></a>
    </div>
  </div>
</div>

<div id="Transition">
  <div id="TransitionText">
    <h3>If you want to know more about me</h3>
    <p>Here is my work</p>
  </div>
  <div id="TransitionImages">
    <img id="TI1" class="top_layer layer" src="../assets/images/surfers.jpg">
    <img id="TI2" class="bottom_layer layer" src="../assets/images/tower.jpg">
    <img id="TI3" class="mid_layer layer" src="../assets/images/bridge.jpg">
  </div>
</div>
<div id="AboutMe">

</div>

<div id="HighSchool">
  <!-- <div id="HighSchoolTopWhiteBlur"></div> -->
  
  <!-- <img id="HighSchoolImage" src="assets/images/HighSchool-low.png" alt="High School Image"> -->
    
  <div id="HighSchoolText">
    <div class="subTitle">
      <h2>Lycée Pablo Neruda</h2>
      <h3>Year 2017-2020 <br> Baccalauréat scientifique - Mention très bien</h3>
    </div>

    <div id="HighSchoolSliders">
      <div class="HSContainer">
        <div id="HSISN">
          <div>
            <img src="../assets/images/logo_ISN.png">
            <h3 class="HSTitle">ISN</h3>
          </div>
          <div class="HSText" hidden>
            <p>ISN text</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum odio at nibh pretium mollis. Duis mollis sapien ut nulla suscipit, in posuere purus accumsan. Sed vitae justo et nulla elementum porttitor. Praesent sit amet augue sapien.</p>
          </div>
        </div>
      </div>
      
      <div class="HSContainer">
        <div id="HSKart">
          <div>
            <img src="../assets/images/logo_kart.png">
            <h3 class="HSTitle">Kart</h3>
          </div>
          <div class="HSText" hidden>
            <p>Kart text</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum odio at nibh pretium mollis. Duis mollis sapien ut nulla suscipit, in posuere purus accumsan. Sed vitae justo et nulla elementum porttitor. Praesent sit amet augue sapien.</p>
          </div>
        </div>
      </div>

      <div class="HSContainer">
        <div id="HSMinecraft">
          <div>
            <img src="../assets/images/logo_minecraft.png">
            <h3 class="HSTitle">Minecraft</h3>
          </div>
          <div class="HSText" hidden>
            <p>Minecraft text</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum odio at nibh pretium mollis. Duis mollis sapien ut nulla suscipit, in posuere purus accumsan. Sed vitae justo et nulla elementum porttitor. Praesent sit amet augue sapien.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <!-- <div id="HighSchoolBottomWhiteBlur"></div> -->
</div>

<div id="IUT">
  <div class="subTitle">
    <h2>IUT2 Grenoble</h2>
    <h3>Year 2020-2022 <br> DUT Informatique - 11e de promotion</h3>
  </div>
  <!-- Add the sliders -->
  <div class="IUTSliderContainer">
    <div class="IUTSlider Classproject">
      <div class="IUTText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lectus et justo consequat rhoncus ut et orci. Sed pellentesque nunc non urna interdum tristique. Pellentesque a augue ante. Pellentesque eleifend malesuada lorem, in posuere diam. Mauris dictum maximus dui, at accumsan lorem laoreet elementum. Suspendisse sollicitudin aliquam ex vel venenatis. In porttitor, arcu nec porttitor dapibus, neque sapien interdum diam, ornare sodales nulla risus non nisi. Aliquam vitae quam tincidunt, scelerisque augue sit amet, pulvinar nisi. Praesent euismod ante eget tincidunt lacinia.
      </div>
      <!-- <img src="../assets/images/class_project.png"> -->
      <h3 class="IUTTitle">Class projects</h3>
    </div>
    <div class="IUTSlider Graduationproject">
      <div class="IUTText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lectus et justo consequat rhoncus ut et orci. Sed pellentesque nunc non urna interdum tristique. Pellentesque a augue ante. Pellentesque eleifend malesuada lorem, in posuere diam. Mauris dictum maximus dui, at accumsan lorem laoreet elementum. Suspendisse sollicitudin aliquam ex vel venenatis. In porttitor, arcu nec porttitor dapibus, neque sapien interdum diam, ornare sodales nulla risus non nisi. Aliquam vitae quam tincidunt, scelerisque augue sit amet, pulvinar nisi. Praesent euismod ante eget tincidunt lacinia.
      </div>
      <h3 class="IUTTitle">Graduation project</h3>
    </div>
    <div class="IUTSlider Bdeproject">
      <div class="IUTText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in lectus et justo consequat rhoncus ut et orci. Sed pellentesque nunc non urna interdum tristique. Pellentesque a augue ante. Pellentesque eleifend malesuada lorem, in posuere diam. Mauris dictum maximus dui, at accumsan lorem laoreet elementum. Suspendisse sollicitudin aliquam ex vel venenatis. In porttitor, arcu nec porttitor dapibus, neque sapien interdum diam, ornare sodales nulla risus non nisi. Aliquam vitae quam tincidunt, scelerisque augue sit amet, pulvinar nisi. Praesent euismod ante eget tincidunt lacinia.
      </div>
      <h3 class="IUTTitle">BDE project</h3>
    </div>
  </div>
</div>

<div id="Countact">
  <!-- <div id="CountactTopWhiteBlur"></div> -->
  
  <!-- <img id="CountactImage" src="assets/images/countact-low.png" alt="Countact Image"> -->

  <div id="CountactBody">
    <div class="subTitle">
      <h2>Internships Countact</h2>
      <h3>Year 2022-2023</h3>
    </div>
    <!-- Add the sliders -->
    <div id="CountactSlider">
      <div id="CountactLeftSlider">
        <img src="../assets/images/countact_logo_left.png">
        <div id="CountactLeftText" hidden>
          <div>
            <h3>Countact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
          </div>
          <div>
            <h3>Countact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
          </div>
        </div>
      </div>
      <div id="CountactRightSlider">
        <div id="CountactRightText" hidden>
          <div>
            <h3>Countact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
          </div>
          <div>
            <h3>Countact</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
          </div>
        </div>
        <img src="../assets/images/countact_logo_right.png">
      </div>
    </div>
  </div>

  <!-- <div id="CountactBottomWhiteBlur"></div> -->
</div>

<div id="SCU">
  <div id="SCUBody">
    <div class="subTitle">
      <h2>Southern Cross university</h2>
      <h3>Year 2023-2024 <br> Bachelor in information technology</h3>
    </div>
    <div>
      <p>Project A</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
    </div>
  </div>
  <img id="SCUImage" src="assets/images/SCU.png" alt="SCU Image">
</div>

<div id="Projects">
  <!-- <div id="ProjectsTopWhiteBlur"></div> -->

  <!-- <img id="ProjectsImage" src="assets/images/PersonnalProjects-low.png" alt="Countact Image"> -->

  <div id="ProjectsBody">
    <div class="subTitle">
      <h2>Personal projects</h2>
      <h3>Starting during my first years at university</h3>
      <div class="subTitletext">
        <p>Lorem ipsum dolor sit amet, consectetur</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. </p>
      </div>
    </div>
    
    <!-- Add the sliders -->
    <div class="ProjectsSlider">

      <!-- Notion -->
      <div class="ProjectsSliderItem">
        <div class="SliderItemImage">
          <img src="../assets/images/Notion_Automation.png">
          <div class="SliderImageTitle">
            2023
          </div>
        </div>
        <div class="SliderItemTitle">
          Notion Automation
        </div>
      </div>

      <!-- Incongrue App -->
      <div class="ProjectsSliderItem">
        <div class="SliderItemImage">
          <img src="../assets/images/Incongrue_App.png">
          <div class="SliderImageTitle">
            2023
          </div>
        </div>
        <div class="SliderItemTitle">
          Incongrue App
        </div>
      </div>

      <!-- TripPics -->
      <div class="ProjectsSliderItem">
        <div class="SliderItemImage">
          <img src="../assets/images/TripPics.png">
          <div class="SliderImageTitle">
            2022
          </div>
        </div>
        <div class="SliderItemTitle">
          TripPics
        </div>
      </div>

    </div>
  </div>
  
  <!-- <div id="ProjectsBottomWhiteBlur"></div> -->
</div>

<div id="WorkWithMeBackground">
  <div id="WorkWithMe">
    <div class="subTitle">
      <h2>Work with me</h2>
    </div>
    <div id="WWMText">
      <div id="WhatICanDo">
        <div>
          <h3>What I can do</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia efficitur condimentum. Duis aliquet rhoncus diam, eu tempor lacus ullamcorper at. Duis at luctus dui. Praesent ultrices blandit ante, ut dapibus sem aliquet a. Nam pharetra turpis velit, et bibendum sapien pellentesque et. Phasellus odio diam, consectetur quis tincidunt vel, porta nec arcu.</p>
        </div>
        <div id="WhatICanDoTechno">
          <img src="../assets/images/logo_html.png">
          <img src="../assets/images/logo_css.png">
          <img src="../assets/images/logo_javascript.png">
          <img src="../assets/images/logo_angular.png">
          <img src="../assets/images/logo_php.png">
          <img src="../assets/images/logo_react.png">
          <img src="../assets/images/logo_c.png">
          <img src="../assets/images/logo_django.png">
          <img src="../assets/images/logo_python.png">
          <img src="../assets/images/logo_postgresql.png">
          <img src="../assets/images/logo_docker.png">
          <img src="../assets/images/logo_aws.png">
          <img src="../assets/images/logo_notion.png">
          <img src="../assets/images/logo_kotlin.png">
          <img src="../assets/images/logo_n8n.png">
          <img src="../assets/images/logo_java.png">
        </div>
      </div>
      <div id="ContactMe">
        <h3>Contact me</h3>
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <textarea placeholder="Message" class="FreeText"></textarea>
        <button>Send</button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>