/* Hero */

#Hero{
    width: 100%;
    height: 100vh;
    max-width:100%;
    overflow-y: clip;
    overflow-x: clip;
}

#HeroImage{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
    position: absolute;
}

#HeroText{
    position: absolute;
    font-size: 2em;
    max-width: 75%;
    left: 5%;
    top: 20%;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

#Typewriter{
    color: var(--quaternary-color);
}

#HeroWhiteBlur{
    width: 150%;
    height: 50%;
    transform: translateX(-10%) translateY(185%);
    background-color: var(--quinary-color);
    filter: blur(30px);
    background-size: cover;
}

/* Resume */

#Resume{
    width: 70%;
    background-color: var(--quinary-color);
    border-radius: 15px;
    transform: translateY(-25px);
    margin: auto;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));
    cursor: pointer;
    position: relative;
    z-index: 3;
}

#ResumeText{
    width: 30%;
    max-height: 100%;
    padding: 2% 4%;
    font-family: 'Roboto', sans-serif;
}

#ResumeImage{
    width: 70%;
    max-height: 30vh;
    padding: 2%;
    transition: all 1s ease-in-out;
}

#ResumeImage.expand, #Resume.expand{
    max-height: 200vh;
}

#ResumeImage img{
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
}

/* Work with me */

#WorkWithMe{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
}

#WorkWithMe .subTitle{
    display: flex;
    justify-content: center;
    align-content: center;
}

#WWMText{
    display: flex;
    flex-direction: row;
    flex-flow: row;
}

#WhatICanDo, #ContactMe{
    width: 50%;
    padding: 5%;
}

#WhatICanDoTechno img{
    max-width: 10%;
    max-height: 10%;
    padding: 0 1%;
}

#ContactMe{
    display: flex;
    flex-direction: column;
}

#ContactMe input, #ContactMe textarea{
    max-width: 100%;
    border-radius: 5px;
    border-color: rgba(0,0,0,0.3);
    margin: 3% 0;
    padding: 1%;
}

#ContactMe .FreeText{
    padding: 1% 1% 10% 1%;
}

#ContactMe button{
    background-color: rgba(0,0,0,0);
    border: none;
    align-self: end;
}

/* Transition */

#Transition{
    height: 70vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#TransitionText{
    width: 30%;
    margin-left: 10%;
}

#TransitionImages{
    max-width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* Shadow */
    filter: drop-shadow(0px 4px 4px rgba(0,0,0,0.5));

    /* Parallax */
    /* overflow-x: hidden;
    overflow-y: auto;
    perspective: 300px;
    position: relative;
    transform-style: preserve-3d; */
}

#TransitionImages img{
    max-width: 40%;
    max-height: 40%;
    border-radius: 20px;
}

#TransitionImages > #TI1{
    transform: translateX(40%) translateY(-60%);
    z-index: 2;
    width: 314px;
    /* Parallax */
}

#TransitionImages > #TI2{
    z-index: 1;
    width: 314px;
    /* Parallax */
}

#TransitionImages > #TI3{
    max-width: 30%;
    max-height: 30%;
    transform: translateX(-40%) translateY(50%);
    z-index: 2;
    width: 235px;
    /* Parallax */
}

/* High School */

#HighSchool{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
}

#HighSchoolImage{
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#HighSchoolTopWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(-50%);
}

#HighSchoolBottomWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(50%);
}

#HighSchoolText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 5%;
    align-content: center;
    height: 100%;
    width: 80%;
    align-self: center;
}

#HighSchool .subTitle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;

    height: 100%;
    margin-top: 10%;
    margin-right: 5%;
}

#HighSchoolSliders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 84vh;
    width: 100%;
}

.HSContainer{
    height: 28vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* Last HSContainer */
.HSContainer:last-child{
    height: 18vh;
}

.HSContainer > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

#HSISN, #HSMinecraft, #HSKart{
    position: absolute;
    width: auto;
    cursor: move;
}

#HighSchoolSliders .HSTitle{
    margin: 0%;
    padding: 0%;
}

.HSContainer .HSText{
    padding: 1%;
    width: 50%;
}

.HSContainer > .HSText > p{
    padding: 2%;
    margin: 0%;
    margin-right: 200px;
    font-family: 'Roboto', sans-serif;
}

#HSISN.shown{
    width: fit-content;
}

/* IUT Sliders */

#IUT{
    width: 95%;
    height: 70vh;
    display: flex;
    margin: auto;
    flex-direction: row;
    overflow-y: clip;
    overflow-x: clip;
    justify-content: space-between;
    align-items: center;
}

#IUT .subTitle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;

    height: 50%;
    margin-top: 10%;
    margin-right: 5%;
}

.IUTSliderContainer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    height: 45vh;
    width: 100%;
    max-width: 1000px;
}

.IUTSlider{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    transition: all 0.5s ease-in-out;
    background-size: cover;
}

.IUTSlider.Classproject{
    background-image: url("../assets/images/class_project.png");
}

.IUTSlider.Graduationproject{
    background-image: url("../assets/images/graduation_project.png");
}

.IUTSlider.Bdeproject{
    background-image: url("../assets/images/bde_project.png");
}

.IUTSlider:hover{
    width: 50%;
    background-color: rgba(0,0,0,0.1);
}

.IUTSlider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.IUTText{
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);
    padding: 10%;
    height: 100%;
    opacity: 0%;
    font-size: 0.1em;
    transition: all 0.5s ease-in-out;
}

.IUTTitle{
    color: var(--quinary-color);
    text-align: center;
}

/* Countact */

#Countact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
    align-items: center;
}

#Countact .subTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Countact .subTitle h2{
    margin: 0;
}

#CountactTopWhiteBlur{
    width: 150%;
    height: 10%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(-50%);
}

#CountactImage{
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#CountactBottomWhiteBlur{
    width: 150%;
    height: 10%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(50%);
}

#CountactBody{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#CountactSlider{
    display: flex;
    max-width: 100%;
    align-items: center;
    align-self: center;
    height: 60%;
}

#CountactSlider > div{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#CountactSlider > div > img{
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}

#CountactLeftSlider{
    justify-content: flex-end;
}

#CountactLeftText, #CountactRightText{
    margin: 0 5%;
    max-width: 50%;
    transition: all 0.5s ease-in-out;
}

.hidden{
    opacity: 0%;
}

/* SCU */

#SCU{
    width: 100%;
    height: 70vh;
    display: flex;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
}

#SCUBody{
    padding: 10%;
}

#SCUImage{
    width: 50%;
    height: 50%;
    align-self: end;
    padding: 10% 0;
}

/* Personal projects */

#Projects{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
    align-items: center;
}

#Projects .subTitle{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 5% 10%;
    overflow-y: clip;
    overflow-x: clip;
}

#ProjectsTopWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(-50%);
}

#ProjectsImage{
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 60vh;
    z-index: -1;
}

#ProjectsBottomWhiteBlur{
    width: 150%;
    height: 50%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(50%);
}

#ProjectsBody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.SliderItemImage{
    width: 15%;
    display: flex;
    flex-direction: column;
}

.SliderItemImage > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
    border-radius: 20%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.SliderImageTitle{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 40px;
    background-color: rgb(135, 184, 140);
    align-self: flex-end;
    transform: translateY(-50%);
}

.SliderItemTitle{
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    transform: translateY(-75%);
}

.ProjectsSlider{
    padding: 5%;
}
