<div id="Countact">
    <!-- <div id="CountactTopWhiteBlur"></div> -->
    
    <!-- <img id="CountactImage" src="assets/images/countact-low.png" alt="Countact Image"> -->
  
    <div id="CountactBody">
      <div class="subTitle">
        <h2>Internships</h2>
        <h3>Year 2022-2023 <br> CountAct SAS</h3>
      </div>
      <!-- Add the sliders -->
      <div id="CountactSlider">
        <div id="CountactLeftSliderImage">
          <img src="assets/images/countact_logo_left.png">
          <div id="CountactLeftSliderText" class="hiding">
            <div id="CountactLeftText">
              <div>
                <h3>Database</h3>
                <p>
                  During this first internship I started by working on the database for the mobile application, product of the company. <br>
                  Collecting informations from the mockups and the specifications, I created the database model and the database itself. <br>
                  The technology used was PostgreSQL. <br>
                </p>
              </div>
              <div>
                <h3>Server infrastructure</h3>
                <p>
                  After the first designs were accepted, I created a docker environment for the database and its future Django API to ease deployment and scaling. <br>
                  Once the production enviroment deployed on AWS, I was responsible for the testing and the monitoring of the server. <br>
                  This internship allowed me to consolidate my skills in Database design and Server Microservice architecture.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div id="CountactRightSliderImage">
          <img src="assets/images/countact_logo_right.png">
          <div id="CountactRightSliderText" class="hiding">
            <div id="CountactRightText">
              <div>
                <h3>Notion project management</h3>
                <p>
                  During this internship I was responsible for the creation of a project management space on Notion. <br> 
                  The goal was to facilitate project management for the CEO while the company is growing. <br>
                  Notion was chosen for its flexibility and its ability to be customized, as well as its integration with other tools.
                </p>
              </div>
              <div>
                <h3>Support</h3>
                <p>
                  As I was already accustomed to the system due to my first internship, I accompanied the new interns in their missions through weekly meetings and help. <br>
                  Finally I developed a web front-end interface for internal use. <br>
                  This page was taking a csv file as an input and using it to populate the database with its data while performing multiple test to maintain the system security.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>