#Countact{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: clip;
    overflow-x: clip;
    align-items: center;

    background-image: url("../../assets/images/Low-Opacity/countact-low.png");
    background-size: cover;
    background-position-x: center;
    background-position-y:bottom;
    background-attachment: fixed;
}

#Countact .subTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Countact .subTitle h2{
    margin: 0;
}

#CountactTopWhiteBlur{
    width: 150%;
    height: 10%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(-50%);
}

#CountactImage{
    object-fit: cover;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

#CountactBottomWhiteBlur{
    width: 150%;
    height: 10%;
    background-color: var(--quinary-color);
    filter: blur(25px);
    background-size: cover;
    transform: translateX(-10%) translateY(50%);
}

#CountactBody{
    width: 100%;
    max-width: var(--body-max-width);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#CountactSlider{
    display: flex;
    max-width: 100%;
    align-items: center;
    align-self: center;
    height: 60%;
}

#CountactSlider > div{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

#CountactSlider > div > img{
    max-width: 100%;
    height: 100%;
    cursor: pointer;
}

#CountactRightSliderImage, #CountactLeftSliderImage{
    position: relative;
    z-index: 2;
}

#CountactRightSliderImage.shown{
    transform: translateX(350px);
}

#CountactLeftSliderImage.shown{
    transform: translateX(-350px);
}

#CountactLeftSliderImage.hiding, #CountactRightSliderImage.hiding{
    transform: translateX(0);
    opacity: 0;
}

#CountactLeftSliderText, #CountactRightSliderText{
    position: absolute;
    max-width: 25%;
    z-index: 1;
}

#CountactLeftSliderText.hiding, #CountactRightSliderText.hiding{
    /* display: none !important; */
    opacity: 0%;
}

#CountactRightSliderText.hiding{
    /* display: none !important; */
    transform: translateX(-100%);
}

#CountactLeftSliderText.hiding{
    /* display: none !important; */
    transform: translateX(100%);
}

#CountactLeftSliderText{
    right: 50%;
    opacity: 100%;
}

#CountactRightSliderText{
    left: 50%;
    text-align: end;
    transform: translateX(0);
}
