/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    max-width: 100%;
    height: auto;

    /* Font */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--primary-color);
}

/* Define variables for colors */
:root{
    --primary-color: #132744;
    --secondary-color: #F57B59;
    --tertiary-color: #EE9676;
    --quaternary-color: #FCBBA3;
    --quinary-color: #FEFEFE;
}